@model MidCapERP.Dto.Customers.CustomersRequestDto

@{
    string action = "";
    if (Model != null && Model.CustomerId != 0)
    {
        action = "Update";
    }
    else
    {
        action = "Create";
    }
}

<!-- Modal -->
<div class="modal right fade" id="customerModal" tabindex="-1" aria-labelledby="CustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CustomerModalLabel">Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class='bx bx-x'></i>
                </button>
            </div>

            <form asp-action="@action" class="modal-form--wrapper">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="CustomerId" hidden class="form-control" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="CustomerName" class="form-label"></label>
                                <input asp-for="CustomerName" class="form-control" />
                                <span asp-validation-for="CustomerName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="EmailId" class="form-label"></label>
                                <input asp-for="EmailId" class="form-control" />
                                <span asp-validation-for="EmailId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="form-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="AltPhoneNumber" class="form-label"></label>
                                <input asp-for="AltPhoneNumber" class="form-control" />
                                <span asp-validation-for="AltPhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="BillingStreet1" class="form-label"></label>
                                <input asp-for="BillingStreet1" class="form-control" />
                                <span asp-validation-for="BillingStreet1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="BillingStreet2" class="form-label"></label>
                                <input asp-for="BillingStreet2" class="form-control" />
                                <span asp-validation-for="BillingStreet2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="BillingLandmark" class="form-label"></label>
                                <input asp-for="BillingLandmark" class="form-control" />
                                <span asp-validation-for="BillingLandmark" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="BillingArea" class="form-label"></label>
                                <input asp-for="BillingArea" class="form-control" />
                                <span asp-validation-for="BillingArea" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="BillingCity" class="form-label"></label>
                                <input asp-for="BillingCity" class="form-control" />
                                <span asp-validation-for="BillingCity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="BillingState" class="form-label"></label>
                                <input asp-for="BillingState" class="form-control" />
                                <span asp-validation-for="BillingState" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="BillingZipCode" class="form-label"></label>
                                <input asp-for="BillingZipCode" class="form-control" />
                                <span asp-validation-for="BillingZipCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ShippingStreet1" class="form-label"></label>
                                <input asp-for="ShippingStreet1" class="form-control" />
                                <span asp-validation-for="ShippingStreet1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ShippingStreet2" class="form-label"></label>
                                <input asp-for="ShippingStreet2" class="form-control" />
                                <span asp-validation-for="ShippingStreet2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ShippingLandmark" class="form-label"></label>
                                <input asp-for="ShippingLandmark" class="form-control" />
                                <span asp-validation-for="ShippingLandmark" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ShippingArea" class="form-label"></label>
                                <input asp-for="ShippingArea" class="form-control" />
                                <span asp-validation-for="ShippingArea" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ShippingCity" class="form-label"></label>
                                <input asp-for="ShippingCity" class="form-control" />
                                <span asp-validation-for="ShippingCity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ShippingState" class="form-label"></label>
                                <input asp-for="ShippingState" class="form-control" />
                                <span asp-validation-for="ShippingState" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ShippingZipCode" class="form-label"></label>
                                <input asp-for="ShippingZipCode" class="form-control" />
                                <span asp-validation-for="ShippingZipCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
}