@model IEnumerable<MidCapERP.Dto.Customers.CustomersResponseDto>

<table class="table c-table c-table-stripted" id="tblCustomer">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="selectall" />
            </th>
            <th>Name</th>
            <th>@Html.DisplayNameFor(model => model.EmailId)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>Action</th>
        </tr>
    </thead>
</table> 