@model IEnumerable<MidCapERP.Dto.Customers.CustomersResponseDto>

<table class="table c-table" id="tblCustomer">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
            <th>@Html.DisplayNameFor(model => model.EmailId)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.AltPhoneNumber)</th>
            <th></th>
        </tr>
    </thead>
</table> 