@model MidCapERP.Dto.Customers.CustomersRequestDto
@{
    string action = (Model != null && Model.CustomerId != 0) ? "Update" : "Create";
}

<!-- Modal -->
<div class="modal right fade" id="divCustomerModal" tabindex="-1" aria-labelledby="CustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CustomerModalLabel">Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class='bx bx-x'></i>
                </button>
            </div>

            <form asp-action="@action" method="post" class="modal-form--wrapper" enctype="multipart/form-data"
                  data-ajax="true" data-ajax-method="post"
                  data-ajax-complete="CustomerModel.onSuccess"
                  data-ajax-failure="CustomerModel.onFailed">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="CustomerId" hidden class="form-control" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="CustomerName" class="form-label"></label>
                                <input asp-for="CustomerName" class="form-control" />
                                <span asp-validation-for="CustomerName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="EmailId" class="form-label"></label>
                                <input asp-for="EmailId" class="form-control" />
                                <span asp-validation-for="EmailId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="form-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" type="number" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="AltPhoneNumber" class="form-label"></label>
                                <input asp-for="AltPhoneNumber" class="form-control" />
                                <span asp-validation-for="AltPhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="GSTNo" class="form-label"></label>
                                <input asp-for="GSTNo" class="form-control" />
                                <span asp-validation-for="GSTNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="RefferedBy" class="form-label"></label>
                                <input asp-for="RefferedBy" class="form-control" />
                                <span asp-validation-for="RefferedBy" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="RefferedContactNo" class="form-label"></label>
                                <input asp-for="RefferedContactNo" class="form-control" />
                                <span asp-validation-for="RefferedContactNo" class="text-danger"></span>
                            </div>
                        </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
}