@model List<MidCapERP.Dto.CustomerVisit.CustomerVisitResponseDto>

<table class="table c-table c-table-stripted w-100">
    <thead>
        <tr>
            <th>Comments</th>
            <th class="text-end">Visited Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(x => x.CreatedDate))
        {
            <tr>
                <td>@item.Comment</td>
                <td class="text-end">@item.CreatedDate</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");

        <script asp-src-include="~/js/Customer.js"></script>
    }
    }