@model MidCapERP.Dto.Customers.CustomersRequestDto
@{
    string action = (Model != null && Model.CustomerId != 0) ? "Update" : "Create";
    Layout = "_Layout";
}

<div class="">
    <div class="card mb-3">
        <div class="card-prpoduct-cotent--wrapper">
            <form asp-action="@action" method="post" class="modal-form--wrapper">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="CustomerId" id="customerId" hidden class="form-control" />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="product-info--item">
                                <div class="form-group">
                                    <label class="form-label">
                                        <label asp-for="CustomerTypeId" class="form-label"></label>
                                    </label>
                                    <select asp-for="CustomerTypeId" data-val="true" class="form-control"
                                        asp-items="@(new SelectList((List<SelectListItem>)ViewBag.CustomerType,"Value", "Text"))">
                                    <option value="" hidden disabled selected>Select Customer Type</option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-info--item">
                                <div class="form-group">
                                    <label class="form-label">
                                        <label asp-for="FirstName" class="form-label"></label>
                                    </label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-info--item">
                                <div class="form-group">
                                    <label class="form-label">
                                        <label asp-for="LastName" class="form-label"></label>
                                    </label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-info--item">
                                <div class="form-group">
                                    <label class="form-label">
                                        <label asp-for="EmailId" class="form-label"></label>
                                    </label>
                                    <input asp-for="EmailId" class="form-control" />
                                    <span asp-validation-for="EmailId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-info--item">
                                <div class="form-group">
                                    <label class="form-label">
                                        <label asp-for="PhoneNumber" class="form-label"></label>
                                    </label>
                                    <input asp-for="PhoneNumber" class="form-control" type="number" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-info--item">
                                <div class="form-group">
                                    <label class="form-label">
                                        <label asp-for="AltPhoneNumber" class="form-label"></label>
                                    </label>
                                    <input asp-for="AltPhoneNumber" class="form-control" />
                                    <span asp-validation-for="AltPhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-info--item">
                                <div class="form-group">
                                    <label class="form-label">
                                        <label asp-for="GSTNo" class="form-label"></label>
                                    </label>
                                    <input asp-for="GSTNo" class="form-control" />
                                    <span asp-validation-for="GSTNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-info--item">
                                <div class="form-group">
                                    <label class="form-label">
                                        <label asp-for="RefferedBy" class="form-label"></label>
                                    </label>
                                    <input asp-for="RefferedBy" class="form-control" />
                                    <span asp-validation-for="RefferedBy" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-info--item">
                                <div class="form-group">
                                    <label class="form-label">
                                        <label asp-for="Discount" class="form-label"></label>
                                    </label>
                                    <input asp-for="Discount" class="form-control" />
                                    <span asp-validation-for="Discount" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        @if(Model == null)
                        {
                            <div class="col-3">
                                 <div class="form-group">
                                    <label asp-for="AddressType" class="form-label"></label>                         
                                     <select  asp-for="AddressType" id="AddressTypeId" data-val="true" class="form-control">
                                        <option value="" hidden disabled selected>Select Address Type</option>
	                                    <option value="Home">Home</option>
                                        <option value="Office">Office</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <span asp-validation-for="AddressType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="Street1" class="form-label"></label>
                                    <input asp-for="Street1" class="form-control" />
                                    <span asp-validation-for="Street1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="Street2" class="form-label"></label>
                                    <input asp-for="Street2" class="form-control" />
                                    <span asp-validation-for="Street2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="Landmark" class="form-label"></label>
                                    <input asp-for="Landmark" class="form-control" />
                                    <span asp-validation-for="Landmark" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="Area" class="form-label"></label>
                                    <input asp-for="Area" class="form-control" />
                                    <span asp-validation-for="Area" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="City" class="form-label"></label>
                                    <input asp-for="City" class="form-control" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="State" class="form-label"></label>
                                    <input asp-for="State" class="form-control" />
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label asp-for="ZipCode" class="form-label"></label>
                                    <input asp-for="ZipCode" class="form-control" />
                                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                      <div class="custom-control custom-switch">
                                        <label class="form-label">
                                            IsDefault 
                                        </label>
                                        <input asp-for="IsDefault" type="checkbox" class="custom-control-input" id="isDefualtCheck" data-val="true">
                                        <label class="custom-control-label" for="isDefualtCheck">Active</label>    
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row c-card-footer--btn">
                         <div class="col-12">
                             <div class="c-card--wrapper c-card-sm--wrapper">
                                    <div class="c-card--footer">
                                        <a class="btn btn-danger" href="/Customer/Index">Cancle</a>
                                        <input type="submit" value="Save" class="btn btn-primary ms-2" id="dataSave" />
                                    </div>
                             </div>
                         </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
        @if (Model != null && Model.CustomerId != null)
        {
            <nav class="product-nav-tab--sticky">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-detail-tab" data-bs-toggle="tab" data-bs-target="#nav-detail" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                        Addresses
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-images-tab">
                    <div class="c-card--wrapper c-card-sm--wrapper mb-3">
                        <div class="c-card--header">
                            <h4 class="c-card--header-title">Address Details</h4>
                            <div class="c-card--header-action">
                                <a asp-controller="Customer" asp-action="CreateCustomerAddress"  class="btn btn-primary"
                           data-ajax-complete="CustomerAddressesModel.onComplete"  id="customersId"  asp-route-customerId="@Model.CustomerId" data-ajax-update="#divUpdateCustomerAddresses"
                           data-ajax="true" data-ajax-mode="replace">Create New</a>
                            </div>
                        </div>
                        <div class="c-card--body">
                            <div class="row">
                                <div class="col-12">
                                    <partial name="_CustomerAddressesTable" model="null" />
                                    <div id="divUpdateCustomerAddresses"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");

        <script src="~/js/Customer.js" asp-append-version="true"></script>
        <script src="~/js/CustomerAddresses.js" asp-append-version="true"></script>
    }
} 