@model IEnumerable<MidCapERP.Dto.Customers.CustomersResponseDto>
@{
    ViewData["Title"] = "Customers";
}

<div class="c-card--wrapper">
    <div class="c-card--header">
        <h4 class="c-card--header-title">Customers</h4>
        <div class="c-card--header-action">
            <a class="c-card--header-action-btn btn btn-outline-primary" id="lnkCustomerFilter"><i class='bx bx-plus me-2'></i>Filters</a>
            <a asp-controller="Customer" asp-action="Create"
               class="btn btn-primary" data-ajax="true" data-ajax-mode="replace"
               data-ajax-complete="CustomerModel.onComplete" data-ajax-update="#divUpdateCustomer">Create New</a>
        </div>
    </div>
    <div class="c-card--body">
        <div class="card mb-4 p-3 filter-form--wrapper" id="FilterCard">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Customer Name</label>
                        <input type="text" class="form-control" placeholder="Customer Name" />
                    </div>
                </div>
            </div>
        </div>
        <partial name="_CustomerTable" model="@Model" />
        <div id="divUpdateCustomer"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");

        <script src="~/js/Customer.js" asp-append-version="true"></script>
    }
} 