@model IEnumerable<MidCapERP.Dto.Customers.CustomersResponseDto>
@{
    ViewData["Title"] = "Customers";
    Layout = "_Layout";
}

<div class="c-card--wrapper">
    <div class="c-card--header">
        <h4 class="c-card--header-title">Customers</h4>
        <div class="c-card--header-action">
            <a class="c-card--header-action-btn btn btn-outline-primary" asp-controller="Customer" asp-action="Import_Export_Customer">Import/Export</a>
            <a class="c-card--header-action-btn btn btn-outline-primary" id="multiSelectCustomer">Send</a>
            <a class="c-card--header-action-btn btn btn-outline-primary" id="lnkCustomerFilter"><i class='bx bx-plus me-2'></i>Filters</a>
            <a asp-controller="Customer" asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
    </div>
    <div class="c-card--body">
        <div class="card mb-4 p-3 filter-form--wrapper" id="FilterCard">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">Name</label>
                        <input id="customerName" type="text" class="form-control" placeholder="Customer Name" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">Phone Number</label>
                        <input id="customerMobileNo" type="text" class="form-control" placeholder="Customer PhoneNumber" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">From Date</label>
                        <input id="customerFromDate" type="date" class="form-control" placeholder="From Date" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">To Date</label>
                        <input id="customerToDate" type="date" class="form-control" placeholder="To Date" />
                    </div>
                </div>
            </div>
        </div>
        <partial name="_CustomerTable" />
        <div id="divUpdateCustomer"></div>

        <!-- Modal -->
        <div id="sendSMSModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Send Newsletters/Greetings</h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="message" class="col-form-label">Subject</label>
                                <input type="text" class="form-control" id="txtSubject" />
                                <span class="text-danger" id="errorSubject"></span>
                            </div>
                            <div class="mb-3">
                                <label for="message" class="col-form-label">Message</label>
                                <textarea class="form-control" id="txtMessage" rows="30"></textarea>
                                <span class="text-danger" id="errorMessage"></span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary sendSMSToClient">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");

        <script asp-src-include="~/js/Customer.js"></script>
    }
} 