@model IEnumerable<MidCapERP.Dto.Company.CompanyResponseDto>

<table class="table c-table c-table-stripted" id="tblCompany">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LookupValueName)</th>
            <th class="text-end">Action</th>
        </tr>
    </thead>
</table>