@model IEnumerable<MidCapERP.Dto.Company.CompanyResponseDto>
@{
    ViewData["Title"] = "Companies";
}

<div class="c-card--wrapper">
    <div class="c-card--header">
        <h4 class="c-card--header-title">Companies</h4>
        <div class="c-card--header-action">
            <a class="c-card--header-action-btn btn btn-outline-primary" id="lnkCompanyFilter"><i class='bx bx-plus me-1'></i>Filters</a>
            <a asp-controller="Company" asp-action="Create"
               class="btn btn-primary has-spinner" data-ajax="true" data-ajax-mode="replace"
               data-ajax-complete="CompanyModel.onComplete" data-ajax-update="#divUpdateCompany" id="btnSaveCompany">Create New</a>
        </div>
    </div>
    <div class="c-card--body">
        <div class="card filter-form--wrapper" id="FilterCard">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">Company Name</label>
                        <input id="companyName" type="text" class="form-control" placeholder="Company Name" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary mt-3" id="btnReset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_CompanyTable" model="@Model" />
        <div id="divUpdateCompany"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");

        <script asp-src-include="~/js/Company.js"></script>
    }
    }