@model IEnumerable<MidCapERP.Dto.ErrorLogs.ErrorLogsResponseDto>

@{
    ViewData["Title"] = "ErrorLogs";
}

<div class="c-card--wrapper">
    <div class="c-card--header">
        <h4 class="c-card--header-title">ErrorLogs</h4>
        <div class="c-card--header-title">
            <label>Filter Date</label>
            <input class="form-control" type="datetime-local"  id="filterDate" name="filterDate" />
            <input type="submit">
        </div>
    </div>
    <div class="c-card--body" >
        <partial name="_ErrorLogsTable" model="@Model" />
        <div id="UpdateContentDiv">
        </div>
    </div>
        
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");
    }

    <script>
        $(function() {
            $("#tblErrorLogs").DataTable({
                "searching": true
            });
        });
        function onComplete() {
            $("#ErrorLogsModal").modal('show');
        }
    </script>
}