@model IEnumerable<MidCapERP.Dto.ErrorLogs.ErrorLogsResponseDto>

@{
    ViewData["Title"] = "ErrorLogs";
}

<div class="c-card--wrapper">
    <div class="c-card--header">
        <h4 class="c-card--header-title">ErrorLogs</h4>
    </div>
    <div class="c-card--body" >
        <partial name="_ErrorLogsTable" model="@Model" />
        <div id="UpdateContentDiv">
        </div>
    </div>
        
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");
    }

    <script>
        $(function() {
            $("#tblErrorLogs").DataTable({
                "searching": true
            });
        });
        function onComplete() {
            $("#ErrorLogsModal").modal('show');
        }
    </script>
}