$cardDefaultSpacing: spacing();
$cardRootTree: ".c-card";
#{$cardRootTree} {
    &--wrapper {
        background: $white;
        border-radius: $defaultRadius;
        box-shadow: $defaulShaodw;
    }
    &--header {
        padding: $cardDefaultSpacing;
        border-bottom: 1px solid $defaultBorderColor;
        @include flexbox($hAlign: space-between);
        &-action {
            @include flexbox($vAlign: center);
            &-btn {
                @include flexbox($vAlign: center);
            }
            .filter-icon {
                .bx-plus {
                    &:before {
                        content: "\eb8b";
                    }
                }
            }
            >*+* {
                margin-left: spacing();
            }
        }
        &-no-spacing {
            padding: 0;
        }
        &-title {
            font-size: $cardTitleFontSize;
            font-weight: $cardTitleFontWeight;
            color: $cardTitleColor;
            margin-bottom: 0;
        }
        &-no-border {
            border-bottom: none;
        }
    }
    &--body {
        padding: $cardDefaultSpacing;
        &-no-spacing {
            padding: 0;
        }
    }
    &--footer {
        @include flexbox($hAlign: flex-end);
        padding: $cardDefaultSpacing;
    }
    &-sm--wrapper {
        #{$cardRootTree}--header {
            padding: spacing(0.5) spacing();
            &-title {
                font-size: $cardsmTitleFontSize;
            }
        }
        #{$cardRootTree}--body {
            padding: spacing(0.5) spacing();
        }
        #{$cardRootTree}--footer {
            padding: spacing(0.5) spacing();
        }
    }
}