.table {
    margin: 0 !important;
    border-radius: 5px !important;
    overflow: hidden !important;
    border: 1px solid lighten($primary, 35%) !important;
    thead {
        tr {
            th {
                // background-color: $primary;
                background-color: lighten($primary, 10%) !important;
                color: $white;
                &.sorting {
                    &:before {
                        content: "\ea29" !important;
                        font-weight: 400;
                        font-family: boxicons!important;
                        -webkit-font-smoothing: antialiased;
                        font-size: 20px !important;
                        line-height: 100% !important;
                        bottom: calc(50% - 10px) !important;
                        opacity: 0.4 !important;
                    }
                    &:after {
                        content: none !important;
                        // content: "\ea4a" !important;
                        // font-family: boxicons!important;
                        // -webkit-font-smoothing: antialiased;
                    }
                    &.sorting_asc {
                        &:before {
                            opacity: 1 !important;
                        }
                    }
                    &.sorting_desc {
                        &:before {
                            transform: rotate(180deg);
                            opacity: 1 !important;
                        }
                    }
                }
            }
        }
    }
    tbody {
        border: 0 !important;
    }
    tr {
        outline: 1px solid transparent !important;
        vertical-align: middle;
        &.even,
        &:nth-child(even) {
            background-color: lighten($primary, 45%) !important;
        }
        &.odd,
        &:nth-child(odd) {
            background-color: lighten($gray, 40%) !important;
        }
        td {
            color: $black !important;
        }
        &:hover,
        &:focus {
            // border: 1px dashed $gray !important;
            outline: 1px dashed $secondary !important;
        }
        .c-action-btn-group {
            text-align: right;
            display: flex;
            justify-content: flex-end;
            .btn-icon {
                font-size: 16px;
                width: 30px;
                height: 30px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                padding: 0;
                justify-content: center;
                // &:hover {
                //     background-color: $primary;
                //     color: $white;
                // }
            }
        }
    }
    &.c-table {
        font-size: 14px;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid lighten($darkGray, 65%) !important;
        thead {
            tr {
                th {
                    // background-color: lighten($darkGray, 60%) !important;
                    background-color: transparent !important;
                    border-bottom: 1px solid lighten($darkGray, 55%);
                    color: $primary;
                }
            }
        }
        tr {
            &:nth-child(odd) {
                background-color: transparent !important;
            }
            &:nth-child(even) {
                background-color: lighten($gray, 40%) !important;
            }
        }
        .btn {
            padding: spacing(0.1) spacing(0.8);
            padding: 4px 18px;
            font-size: 12px;
            box-shadow: none;
        }
    }
}

.dataTables_info {
    font-size: 14px;
}