@model IEnumerable<MidCapERP.Dto.Lookups.LookupsResponseDto>

@{
    ViewData["Title"] = "Lookup";
}

<div class="c-card--wrapper">
    <div class="c-card--header">
        <h4 class="c-card--header-title">Lookup</h4>
        <div class="c-card--header-action">
            <a class="c-card--header-action-btn btn btn-outline-primary" id="lookupFilter"><i class='bx bx-plus me-1'></i>Filters</a>
            <a asp-controller="Lookup" asp-action="Create"
               data-ajax-complete="onComplete" data-ajax="true" class="btn btn-primary"
               data-ajax-mode="replace" data-ajax-update="#UpdateContentDiv">Create New</a>
        </div>
    </div>
    <div class="c-card--body">
        <div class="card mb-4 p-3" id="FilterCard">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">
                            Product Name
                        </label>
                        <input type="text" class="form-control" placeholder="Product Name" />
                    </div>
                </div>
            </div>
        </div>
        <partial name="_LookupTable" model="@Model" />
        <div id="UpdateContentDiv"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");
    }

    <script>
        $(function() {
            $("#tblLookup").DataTable({
                "searching": false
            });
        });

        $("#lookupFilter").click(function() {
            $(this).toggleClass("filter-icon");
            $("#FilterCard").slideToggle("slow");
        });

        function onComplete() {
            $("#lookupModal").modal('show');
        }
    </script>
}