@model MidCapERP.Dto.ArchitectAddresses.ArchitectAddressesRequestDto
@{
    string action = (Model != null && Model.CustomerAddressId != 0) ? "UpdateArchitectAddresses" : "CreateArchitectAddress";
}
<!-- Modal -->
<div class="modal right fade" id="divArchitectAddressModal" tabindex="-1" aria-labelledby="ArchitectAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ArchitectAddressModalLabel">Architect Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class='bx bx-x'></i>
                </button>
            </div>
            <form asp-action="@action" method="post" class="modal-form--wrapper"
                  data-ajax="true" data-ajax-method="post"
                  data-ajax-complete="ArchitectAddressesModel.onSuccess"
                  data-ajax-failure="ArchitectAddressesModel.onFailed" id="frmArchitectAddress">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="CustomerAddressId" hidden class="form-control" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="CustomerId" class="form-label" hidden></label>
                                <input asp-for="CustomerId" class="form-control" data-val="true" hidden />
                                <span asp-validation-for="CustomerId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="AddressType" class="form-label"></label><span class="required">*</span>
                                <select asp-for="AddressType" id="AddressTypeId" data-val="true" class="drpSelect2 form-control form-select">
                                    <option value="" hidden disabled selected>Select Address Type</option>
                                    <option value="Home">Home</option>
                                    <option value="Office">Office</option>
                                    <option value="Other">Other</option>
                                </select>
                                <span asp-validation-for="AddressType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Street1" class="form-label"></label><span class="required">*</span>
                                <input asp-for="Street1" class="form-control" />
                                <span asp-validation-for="Street1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Street2" class="form-label"></label>
                                <input asp-for="Street2" class="form-control" />
                                <span asp-validation-for="Street2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Landmark" class="form-label"></label>
                                <input asp-for="Landmark" class="form-control" />
                                <span asp-validation-for="Landmark" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Area" class="form-label"></label><span class="required">*</span>
                                <input asp-for="Area" class="form-control" />
                                <span asp-validation-for="Area" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="City" class="form-label"></label><span class="required">*</span>
                                <input asp-for="City" class="form-control" onkeypress='return restrictNumber(event)'/>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="State" class="form-label"></label><span class="required">*</span>
                                <input asp-for="State" class="form-control" onkeypress='return restrictNumber(event)'/>
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ZipCode" class="form-label"></label><span class="required">*</span>
                                <input asp-for="ZipCode" class="form-control" type="number" min="0"/>
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <label class="form-label">
                                        IsDefault
                                    </label>
                                    <input asp-for="IsDefault" type="checkbox" class="custom-control-input" id="isDefaultCheckArchitectAddress" data-val="true">
                                    <label class="custom-control-label" for="isDefaultCheckArchitectAddress">Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" value="Save" class="btn btn-primary has-spinner btn-architectAddress">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
}
@section Scripts {
    @{
        <script src="~/js/CustomerAddresses.js" asp-append-version="true"></script>
    }
    }
    <script>
        InitSelect2($("#divArchitectAddressModal"));
    </script>