<style>
    img {
        margin-right: 10%;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="d-flex">
            <div class="ms-2 c-width-120 d-flex">
                <img src="~/images/chair.jpg" width="100%" height="100%">
                <img src="~/images/drawer.jpg" width="100%" height="100%">
                <img src="~/images/lamp.jpg" width="100%" height="100%">
                <img src="~/images/round-chair.jpg" width="100%" height="100%">
            </div>
        </div>
    </div>
</div>