<div class="c-card--body">
    <table class="table c-table c-table-stripted">
        <thead>
            <tr>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Order created by - Kishan Parmar on 06/10/2022 15:37:53</td>
            </tr>
            <tr>
                <td>Order updated by - Kishan Parmar on 06/10/2022 15:37:53</td>
            </tr>
            <tr>
                <td>Order created by - Kishan Parmar on 06/10/2022 15:37:53</td>
            </tr>
            <tr>
                <td>Order updated by - Kishan Parmar on 06/10/2022 15:37:53</td>
            </tr>
            <tr>
                <td>Order created by - Kishan Parmar on 06/10/2022 15:37:53</td>
            </tr>
        </tbody>
    </table>
</div>