<table class="table c-table c-table-stripted" id="tblOrder">
    <thead>
        <tr>
            <th>Category</th>
            <th>Product</th>
            <th>Model No</th>
            <th>Total Price</th>
            <th>Retailer Price</th>
            <th>Wholesaler Price</th>
            <th>Badge</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sofa</td>
            <td>Longer</td>
            <td>SFT123</td>
            <td>142250</td>
            <td>152250</td>
            <td>145250</td>
            <td><span class="badge bg-primary">Primary</span></td>
            <td>
                <div class="c-action-btn-group justify-content-start">
                    <a class="btn btn-icon btn-outline-primary" href="/Order/OrderDetail"><i class="bx bxs-show"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Sofa</td>
            <td>Longer</td>
            <td>SFT123</td>
            <td>142250</td>
            <td>152250</td>
            <td>145250</td>
            <td><span class="badge bg-secondary">Secondary</span></td>
            <td>
                <div class="c-action-btn-group justify-content-start">
                    <a class="btn btn-icon btn-outline-primary" href="/Order/OrderDetail"><i class="bx bxs-show"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Sofa</td>
            <td>Longer</td>
            <td>SFT123</td>
            <td>142250</td>
            <td>152250</td>
            <td>145250</td>
            <td><span class="badge bg-success">Success</span></td>
            <td>
                <div class="c-action-btn-group justify-content-start">
                    <a class="btn btn-icon btn-outline-primary" href="/Order/OrderDetail"><i class="bx bxs-show"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Sofa</td>
            <td>Longer</td>
            <td>SFT123</td>
            <td>142250</td>
            <td>152250</td>
            <td>145250</td>
            <td><span class="badge bg-info">Info</span></td>
            <td>
                <div class="c-action-btn-group justify-content-start">
                    <a class="btn btn-icon btn-outline-primary" href="/Order/OrderDetail"><i class="bx bxs-show"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Sofa</td>
            <td>Longer</td>
            <td>SFT123</td>
            <td>142250</td>
            <td>152250</td>
            <td>145250</td>
            <td><span class="badge bg-warning">Warning</span></td>
            <td>
                <div class="c-action-btn-group justify-content-start">
                    <a class="btn btn-icon btn-outline-primary" href="/Order/OrderDetail"><i class="bx bxs-show"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Sofa</td>
            <td>Longer</td>
            <td>SFT123</td>
            <td>142250</td>
            <td>152250</td>
            <td>145250</td>
            <td><span class="badge bg-danger">Danger</span></td>
            <td>
                <div class="c-action-btn-group justify-content-start">
                    <a class="btn btn-icon btn-outline-primary" href="/Order/OrderDetail"><i class="bx bxs-show"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Sofa</td>
            <td>Longer</td>
            <td>SFT123</td>
            <td>142250</td>
            <td>152250</td>
            <td>145250</td>
            <td><span class="badge bg-dark">Dark</span></td>
            <td>
                <div class="c-action-btn-group justify-content-start">
                    <a class="btn btn-icon btn-outline-primary" href="/Order/OrderDetail"><i class="bx bxs-show"></i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>