@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="c-card--wrapper">
    <div class="c-card--header">
        <h4 class="c-card--header-title">Orders</h4>
       @* <div class="c-card--header-action">
            <a class="c-card--header-action-btn btn btn-outline-primary" id="lnkProductFilter"><i class='bx bx-plus me-1'></i>Filters</a>
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">Create New</a>
        </div>*@
    </div>
    <div class="c-card--body">
        <div class="card">
            <table class="table c-table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Product</th>
                        <th>Model No</th>
                        <th>Total Price</th>
                        <th>Retailer Price</th>
                        <th>Wholesaler Price</th>
                        <th>Badge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sofa</td>
                        <td>Longer</td>
                        <td>SFT123</td>
                        <td>142250</td>
                        <td>152250</td>
                        <td>145250</td>
                        <td><span class="badge bg-primary">Primary</span></td>
                    </tr>
                    <tr>
                        <td>Sofa</td>
                        <td>Longer</td>
                        <td>SFT123</td>
                        <td>142250</td>
                        <td>152250</td>
                        <td>145250</td>
                        <td><span class="badge bg-secondary">Secondary</span></td>
                    </tr>
                    <tr>
                        <td>Sofa</td>
                        <td>Longer</td>
                        <td>SFT123</td>
                        <td>142250</td>
                        <td>152250</td>
                        <td>145250</td>
                        <td><span class="badge bg-success">Success</span></td>
                    </tr>
                    <tr>
                        <td>Sofa</td>
                        <td>Longer</td>
                        <td>SFT123</td>
                        <td>142250</td>
                        <td>152250</td>
                        <td>145250</td>
                        <td><span class="badge bg-info">Info</span></td>
                    </tr>
                    <tr>
                        <td>Sofa</td>
                        <td>Longer</td>
                        <td>SFT123</td>
                        <td>142250</td>
                        <td>152250</td>
                        <td>145250</td>
                        <td><span class="badge bg-warning">Warning</span></td>
                    </tr>
                    <tr>
                        <td>Sofa</td>
                        <td>Longer</td>
                        <td>SFT123</td>
                        <td>142250</td>
                        <td>152250</td>
                        <td>145250</td>
                        <td><span class="badge bg-danger">Danger</span></td>
                    </tr>
                    <tr>
                        <td>Sofa</td>
                        <td>Longer</td>
                        <td>SFT123</td>
                        <td>142250</td>
                        <td>152250</td>
                        <td>145250</td>
                        <td><span class="badge bg-dark">Dark</span></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        
    </div>
</div>
