@model MidCapERP.Dto.Order.OrderResponseDto

@Html.Hidden("hdnOrderId", Model.OrderId)
<div id="content">
    <div id="divOrderInfo"></div>

    <nav class="order-nav-tab--sticky">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-detail-tab" data-bs-toggle="tab" data-bs-target="#nav-detail" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Details</button>
            <button class="nav-link" id="nav-images-tab" data-bs-toggle="tab" data-bs-target="#nav-images" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Images</button>
            <button class="nav-link" id="nav-activity-tab" data-bs-toggle="tab" data-bs-target="#nav-rowmaterial" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Order Activity</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-images-tab">
            <div id="divOrderSetDetailPartial"></div>
        </div>
        <div class="tab-pane fade show" id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab">
            <div id="divOrderImagePartial">
                <partial name="_OrderImagePartial" />
            </div>
        </div>
        <div class="tab-pane fade" id="nav-rowmaterial" role="tabpanel" aria-labelledby="nav-rowmaterial-tab">
            <div id="divOrderActivityPartial">
                <partial name="_OrderActivityPartial" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");
        <script asp-src-include="~/js/OrderMain.js"></script>
    }
}