@model IEnumerable<MidCapERP.Dto.Unit.UnitResponseDto>

<table class="table c-table c-table-stripted w-100" id="tblUnit">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LookupValueName)</th>
            <th class="text-end">Action</th>
        </tr>
    </thead>
</table>