@model IEnumerable<MidCapERP.Dto.Unit.UnitResponseDto>

<table class="table c-table" id="tblUnit">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LookupName)</th>
            <th>@Html.DisplayNameFor(model => model.LookupValueName)</th>
            <th>Action</th>
        </tr>
    </thead>
</table>