@model IEnumerable<MidCapERP.Dto.AccessoriesType.AccessoriesTypeResponseDto>

<table class="table c-table" id="tblAccessoriesType">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
            <th>@Html.DisplayNameFor(model => model.TypeName)</th>
            <th>Action</th>
        </tr>
    </thead>
</table>