@model MidCapERP.Dto.AccessoriesType.AccessoriesTypeRequestDto
@{
    string action = (Model != null && Model.AccessoriesTypeId != 0) ? "Update" : "Create";
}

<!-- Modal -->
<div class="modal right fade" id="divAccessoriesTypeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Accessories Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class='bx bx-x'></i>
                </button>
            </div>
            <form asp-action="@action" method="post" class="modal-form--wrapper"
                  data-ajax="true" data-ajax-method="post"
                  data-ajax-complete="AccessoriesTypeModel.onSuccess"
                  data-ajax-failure="AccessoriesTypeModel.onFailed">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="AccessoriesTypeId" hidden class="form-control" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="CategoryId" class="form-label"></label>
                                <select asp-for="CategoryId" data-val="true" class="form-control"
                                        asp-items="@(new SelectList((List<SelectListItem>)ViewBag.CategorySelectItemList, "Value", "Text"))">
                                             <option value="" hidden disabled selected>Select a Category</option>
                                </select>
                                 <span asp-validation-for="CategoryId" class="text-danger"></span>                             
                            </div>
                            <div class="form-group">
                                <label asp-for="TypeName" class="form-label"></label>
                                <input asp-for="TypeName" class="form-control" />
                                <span asp-validation-for="TypeName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
}