@{
	ViewData["Title"] = "Dashboard";
}
<div class="text-center">
	@*@if (_currentUser != null)
	{
		<text>
			@_currentUser.Name
			@_currentUser.EmailAddress
		</text>
	}*@

	<h1 class="display-4">Welcome</h1>
</div>