@model MidCapERP.Dto.TenantBankDetail.TenantBankDetailRequestDto

<div class="tab-content" id="nav-tabContent">
           <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-images-tab">
                <div class="c-card--wrapper c-card-sm--wrapper mb-3">
                    <div class="c-card--header">
                        <h4 class="c-card--header-title"> TenantBank Detail</h4>
                        </div>
                <form asp-action="update" asp-controller="TenantBankDetail" method="post" >
                    <div class="c-card--body">
                        <div class="row">
                               <div class="col-md-10">
                                    <div class="row">
                                      <input asp-for="TenantID" hidden class="form-control" />
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="BankName" class="form-label"></label>
                                                <input asp-for="BankName" type="text" class="form-control" placeholder="BankName">                  
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="AccountName" class="form-label"></label>
                                                <input asp-for="AccountName" type="text" class="form-control" placeholder="AccountName">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="AccountNo" class="form-label"></label>
                                                <input asp-for="AccountNo" type="text" class="form-control" placeholder="AccountNo">
                                       
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="BranchName" class="form-label"></label>
                                                <input asp-for="BranchName" type="text" class="form-control " placeholder="BranchName">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="AccountType" class="form-label"></label>
                                                <input asp-for="AccountType" type="text" class="form-control" placeholder="AccountType">
                                       
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="IFSCCode" class="form-label"></label>
                                                <input asp-for="IFSCCode" type="text" class="form-control " placeholder="IFSCCode">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="UPIId" class="form-label"></label>
                                                <input asp-for="UPIId" type="text" class="form-control" placeholder="UPIId">
                                       
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label asp-for="QRCode" class="form-label"></label>
                                                <input asp-for="QRCode" type="text" class="form-control" placeholder="QRCode">
                                            </div>
                                        </div>
                               
                                    </div>
                               </div> 
                        </div>
                    </div>
                    <div class="row c-card-footer--btn">
                    <div class="col-12">
                        <div class="c-card--wrapper c-card-sm--wrapper">
                            <div class="c-card--footer">
                                <a class="btn btn-danger" asp-action="Index" asp-controller="Tenant">
                                    Cancel
                                </a>
                                <input type="submit" value="Save" class="btn btn-primary ms-2" />
                            </div>
                        </div>
                    </div>
           </div>
                </form>
           </div>  
           
      </div>
</div>
@{
    await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
}