@model MidCapERP.Infrastructure.Identity.Models.SelectTenant

@{
    ViewData["Title"] = "Select Tenant";
    Layout = "_LayoutLogin";
}

<h1>Login</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenantId" class="control-label"></label>
                <select asp-for="TenantId" data-val="true" class="form-control"
                                        asp-items="@(new SelectList((List<SelectListItem>)ViewBag.FillUserDropDown, "Value", "Text"))">
                                    <option value="" hidden disabled selected>Select Unit</option>
                                </select>
                <span asp-validation-for="TenantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
