@model MidCapERP.Infrastructure.Identity.Models.SelectTenant

@{
    ViewData["Title"] = "Tenant Selection";
    Layout = "_LayoutLogin";
}

<div class="col-lg-6 form-card">
    <div class="form-login-right">
        <div class="login-right-box">
            <div class="login-header">
                <h1 class="mb-3">Choose Tenant!</h1>
            </div>
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TenantId" class="control-label"></label>
                    <select asp-for="TenantId" data-val="true" class="form-control"
                            asp-items="@(new SelectList((List<SelectListItem>)ViewBag.FillUserDropDown, "Value", "Text"))">
                        <option value="" hidden disabled selected>Select Tenant</option>
                    </select>
                    <span asp-validation-for="TenantId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign In" class="btn btn-primary login-btn" />
                </div>
                <div class="mb-2 text-center">
                    <span class="back-title">Back to <a class="fotgot_link " href="/Account/Login">Sign In</a>  </span>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}