@{
	ViewData["Title"] = "Home Page";
}
<div class="text-center">

	@if (_currentUser != null)
	{
		<text>
			@_currentUser.Name
			@_currentUser.EmailAddress
		</text>
	}

	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
