@model MidCapERP.Dto.Tenant.TenantResponseDto
@{
	ViewData["Title"] = (Model != null && Model.TenantId != 0) ? "Index Profile" : "Add Tenant";
	var i = 0;

	var tenantId = (Model == null) ? 0 : Model.TenantId;
}

@Html.Hidden("hdnTenantId", tenantId)
<div class="">
	@if (tenantId > 0)
	{
		<partial name="_TenantDetailPartial" model="@Model" />
		<partial name="_SMTPPartial" model="@Model" />
		<nav class="product-nav-tab--sticky">
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-detail-tab" data-bs-toggle="tab" data-bs-target="#nav-detail" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Bank Details</button>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-images-tab">
				<div class="c-card--wrapper c-card-sm--wrapper">
					<div class="c-card--header">
						<h4 class="c-card--header-title">Bank Details</h4>
						<div class="c-card--header-action">
							<a asp-controller="Profile" asp-action="CreateTenantBankDetail" class="btn btn-primary"
						   data-ajax-complete="TenantBankDetailModel.onComplete" data-ajax-update="#divUpdateTenantBankDetail"
						   data-ajax="true" data-ajax-mode="replace">Create New</a>
						</div>
					</div>
					<div class="c-card--body">
						<div class="row">
							<div class="col-12">
								<partial name="_TenantBankDetailTable" model="null" />
								<div id="divUpdateTenantBankDetail"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
		await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
		await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");

		<script asp-src-include="~/js/Profile.js" ></script>
	}
	}
