@model MidCapERP.Dto.Tenant.TenantResponseDto
@{
	ViewData["Title"] = (Model != null && Model.TenantId != 0) ? "Index Profile" : "Add Tenant";
	var i = 0;

	var tenantId = (Model == null) ? 0 : Model.TenantId;
}

@Html.Hidden("hdnTenantId", tenantId)
<div id="content">

	@if (tenantId > 0)
	{
		<partial name="_TenantDetailPartial" model="@Model" />

		<partial name="_TenantBankDetailTable" model="null" />

	}
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
		await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
		await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");

		<script src="~/js/Profile.js" asp-append-version="true"></script>
	}
}
