@model IEnumerable<MidCapERP.Dto.Accessories.AccessoriesResponseDto>
@{
    ViewData["Title"] = "Accessories";
}

<div class="c-card--wrapper">
    <div class="c-card--header">
        <h4 class="c-card--header-title">Accessories</h4>
        <div class="c-card--header-action">
            <a class="c-card--header-action-btn btn btn-outline-primary" id="lnkAccessoriesFilter"><i class='bx bx-plus me-1'></i>Filters</a>
            <a asp-controller="Accessories" asp-action="Create"
               class="btn btn-primary" data-ajax="true" data-ajax-mode="replace"
               data-ajax-complete="AccessoriesModel.onComplete" data-ajax-update="#divUpdateAccessories">Create New</a>
        </div>
    </div>
    <div class="c-card--body">
        <div class="card mb-4 p-3 filter-form--wrapper" id="FilterCard">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Accessories Name</label>
                        <input type="text" class="form-control" placeholder="Accessories Name" />
                    </div>
                </div>
            </div>
        </div>
        <partial name="_AccessoriesTable" model="@Model" />
        <div id="divUpdateAccessories"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");

        <script asp-src-include="~/js/Accessories.js" ></script>
    }
}