@model MidCapERP.Infrastructure.Identity.Models.TokenRequest

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<div class="col-lg-6 form-card">
    <div class="form-login-right">
        <div class="login-right-box">
            <div class="login-header mb-3">
                <h1>Login</h1>
            </div>
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign In" class="btn btn-primary login-btn" />
                </div>
                <div class="mb-2 text-center">
                    <a class="fotgot_link " href="/Account/ForgotPassword">
                        @_localizer[JsonStringResourcesKeys.ForgotPassword]
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}