
.order-detail--wrapper{
    padding-top: 12px;
    .order-details-header{
        padding: 16px;
        .order-details-header-title{
            font-size: 14px;
            font-weight: 700;
            color: #202020;
            margin-bottom: 0;
        }
    }
    .order-number-title{
        font-size: 16px;
        color: $form-label-color;
        font-weight: 600;
        padding-bottom: 5px;
        .order-text{
            font-weight: 800;
            color: $black;
            font-size: 26px;
        }
        .order-number{
            color: $primary;
            padding: 3px 5px;
            border-radius: 6px;
        }
    }
    .order-time-text{
        font-size: 14px;
        color: $form-label-color;
        font-weight: 500;
    }
    .order-details-product{
        .order-details-row{
            display: flex;
            align-items: flex-start;
            @include media("<sm") {
                flex-direction: column;
            }
            .order-img-col{
                flex: 16%;
            }
            .product-order-image{
                flex: 12%;
            }
            .order-dimension-col{
                flex: 26%;
            }
            .order-price-col{
                flex: 16%;
            }
            .order-qty-col{
                flex: 10%;
            }
            .order-discount-col{
                flex: 9%;
            }
            .order-total-col{
                flex: 16%;
            }

        }
        .product-order-image{
            img{
                width: 100px;
            }
        }
        .product-dimension{
            .order-label {
                font-size: 14px;
                font-weight: 600;
                color: $form-label-color;
            }
            .ordr-value{
                font-weight: 700;
                color: $black;
                font-size: 14px;
            }
        }
    }
    .order-detail-text{
        font-weight: 600;
        color: $form-label-color;
        font-size: 14px;
    }
    .customer-summary-body{        
        .customer-summary-text{
            display: flex;
            justify-content: space-between;
            padding: 7px 16px;
            border-bottom: 1px solid #9a9a9a38;
            border-bottom-style: dashed;
            &:last-child{
                border-bottom: 0px solid #9a9a9a38;
            }
        }
        .customer-summary-title{
            font-weight: 600;
            color: #202020;
            font-size: 14px;
        }
        .customer-summary-value{
            font-size: 14px;
            font-weight: 500;
            color: #606060;
        }
        .customer-summary-total{
            color: $black;
            font-weight: 800;
            font-size: 16px;
        }
    }
    .customer-detail-information{
        .customer-info-grid {
            display: flex;
            justify-content: space-between;
            padding: 6px 0;
            border-bottom: 1px solid rgb(126 144 154 / 20%);
        }
        &:last-child{
            border-bottom: 1px solid $white;
        }
        .customer-info-label{
            font-weight: 600;
            color: #202020;
            font-size: 14px;
        }
        .customer-info-text{
            font-size: 14px;
            font-weight: 500;
            color: #606060;
        }
        
    }
    .address-name{
        font-size: 14px;
    }
}