@model IEnumerable<MidCapERP.Dto.Fabric.FabricResponseDto>

@{
    ViewData["Title"] = "Fabrics";
}

<div class="c-card--wrapper">
    <div class="c-card--header">
        <h4 class="c-card--header-title">Fabrics</h4>
        <div class="c-card--header-action">
            <a class="c-card--header-action-btn btn btn-outline-primary" id="lnkFabricFilter"><i class='bx bx-plus me-1'></i>Filters</a>
            <a asp-controller="Fabric" asp-action="Create"
               class="btn btn-primary" data-ajax="true" data-ajax-mode="replace"
               data-ajax-complete="FabricModel.onComplete" data-ajax-update="#divUpdateFabric">Create New</a>
        </div>
    </div>
    <div class="c-card--body">
        <div class="card mb-4 p-3 filter-form--wrapper" id="FilterCard">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control" placeholder="Title" />
                    </div>
                </div>
            </div>
        </div>
        <partial name="_FabricTable" model="@Model" />
        <div id="divUpdateFabric"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");

        <script asp-src-include="~/js/Fabric.js" ></script>
    }
}