@model IEnumerable<MidCapERP.Dto.FrameType.FrameTypeResponseDto>
@{
    ViewData["Title"] = "Frame Types";
}

<div class="c-card--wrapper">
    <div class="c-card--header">
        <h4 class="c-card--header-title">Frame Types</h4>
        <div class="c-card--header-action">
            <a class="c-card--header-action-btn btn btn-outline-primary" id="lnkFrameTypeFilter"><i class='bx bx-plus me-1'></i>Filters</a>
            <a asp-controller="FrameType" asp-action="Create"
               class="btn btn-primary" data-ajax="true" data-ajax-mode="replace"
               data-ajax-complete="FrameTypeModel.onComplete" data-ajax-update="#divUpdateFrameType">Create New</a>
        </div>
    </div>
    <div class="c-card--body">
        <div class="card mb-4 p-3 filter-form--wrapper" id="FilterCard">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Frame Type Name</label>
                        <input type="text" class="form-control" placeholder="Frame Type Name" />
                    </div>
                </div>
            </div>
        </div>
        <partial name="_FrameTypeTable" model="@Model" />
        <div id="divUpdateFrameType"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");

        <script src="~/js/FrameType.js" asp-append-version="true"></script>
    }
}