@model IEnumerable<MidCapERP.Dto.Role.RoleResponseDto>

<table class="table c-table c-table-stripted w-100" id="tblRole">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th class="text-end">Action</th>
        </tr>
    </thead>
</table>