@model IEnumerable<MidCapERP.Dto.Role.RoleResponseDto>

<table class="table c-table c-table-stripted" id="tblRole">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Action</th>
        </tr>
    </thead>
</table>