@model IEnumerable<MidCapERP.Dto.Role.RoleResponseDto>
@{
    ViewData["Title"] = "Roles";
}

<div class="c-card--wrapper">
    <div class="c-card--header">
        <h4 class="c-card--header-title">Roles</h4>
        <div class="c-card--header-action">
            <a class="c-card--header-action-btn btn btn-outline-primary" id="lnkRoleFilter"><i class='bx bx-plus me-1'></i>Filters</a>
            <a id="lnkToredirect"
               class="btn btn-primary" data-ajax="true" data-ajax-mode="replace"
               data-ajax-complete="RoleModel.onComplete" data-ajax-update="#divUpdateRole">Create New</a>
        </div>
    </div>
    <div class="c-card--body">
        <div class="card filter-form--wrapper" id="FilterCard">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Role Name</label>
                        <input type="text" class="form-control" placeholder="Role Name" />
                    </div>
                </div>
            </div>
        </div>
        <partial name="_RoleTable" model="@Model" />
        <div id="divUpdateRole"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");
        <script asp-src-include="~/js/Role.js" ></script>
    }
}