@model IEnumerable<MidCapERP.Dto.Category.CategoryResponseDto>

<table class="table c-table c-table-stripted" id="tblCategory">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LookupValueName)</th>
            <th>Action</th>
        </tr>
    </thead>
</table>