@model IEnumerable<MidCapERP.Dto.Category.CategoryResponseDto>

<table class="table c-table c-table-stripted w-100" id="tblCategory">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
            <th>@Html.DisplayNameFor(model => model.FixedPrice)</th>
            <th class="text-end">Action</th>
        </tr>
    </thead>
</table>