@model MidCapERP.Dto.Category.CategoryRequestDto
@{
    string action = (Model != null ) ? "Update" : "Create";
}

<!-- Modal -->
<div class="modal right fade" id="divCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class='bx bx-x'></i>
                </button>
            </div>
            <form asp-action="@action" method="post" class="modal-form--wrapper"
                data-ajax="true" data-ajax-method="post" 
                data-ajax-complete="CategoryModel.onSuccess" 
                data-ajax-failure="CategoryModel.onFailed" id="frmCreateCategory">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<input asp-for="LookupValueId" hidden class="form-control" />*@
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="LookupValueName" class="form-label"></label><span class="text-danger">*</span>
                                <input asp-for="LookupValueName" class="form-control" />
                                <span asp-validation-for="LookupValueName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" value="Save" class="btn btn-primary has-spinner" id="btnSaveCategory">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
}