@model IEnumerable<MidCapERP.Dto.LookupValues.LookupValuesResponseDto>

<table class="table" id="tblLookupValues">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LookupValueName)</th>
            <th>@Html.DisplayNameFor(model => model.LookupId)</th>
            <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
            <th>Action</th>
        </tr>
    </thead>
</table>