@model IEnumerable<MidCapERP.Dto.WoodType.WoodTypeResponseDto>

<table class="table c-table" id="tblWoodType">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LookupValueName)</th>
            <th>Action</th>
        </tr>
    </thead>
</table>