<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MidCapERP.Admin</title>
    <!-- Start CSS -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <!-- End CSS -->
</head>
<body id="body-pd">
    <!-- Start Topbar -->
    <header class="header" id="header">
        <div class="header_toggle">
            <i class="bx bx-menu" id="header-toggle"></i>
        </div>
        <div class="header_img">
            <img src="https://picsum.photos/200/300?random=1" alt="" />
        </div>
    </header>
    <!-- End Topbar -->
    <!-- Start Sidebar -->
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <i class="bx bx-shape-square nav_logo-icon"></i>
                    <span class="nav_logo-name">MidCap-ERP</span>
                </a>
                <div class="nav_list">
                    <a href="#" class="nav_link active">
                        <i class="bx bx-grid-alt nav_icon"></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class="bx bxs-component nav_icon"></i>
                        <span class="nav_name">Product</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class="bx bx-basket nav_icon"></i>
                        <span class="nav_name">Order</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class="bx bx-user nav_icon"></i>
                        <span class="nav_name">Users</span>
                    </a>
                    <a asp-area="" asp-controller="Category" asp-action="Index" class="nav_link">
                        <i class="bx bx-message-square-detail nav_icon"></i>
                        <span class="nav_name">Master Category</span>
                    </a>
                </div>
            </div>
            <a href="#" class="nav_link">
                <i class="bx bx-log-out nav_icon"></i>
                <span class="nav_name">SignOut</span>
            </a>
        </nav>
    </div>
    <!-- End Sidebar -->
    <!-- Start Container Main -->
    <div class="c-main-content--wrapper">
        @RenderBody()
    </div>
    <!-- Start Container Main -->
    <!-- Start Footer -->
    <footer class="footer-page--wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-start">
                    Designed &amp; Developed by <a href="https://www.magnusminds.net">MagnusMinds IT Solution</a> &copy; 2022
                </div>
                <div class="col-md-6 text-end">
                    MidCapERP.Admin.1.0.0.1
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- Start JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- End JS -->
    <!-- Start Custom JS -->
    <script src="~/js/custom.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- End Custom JS -->
</body>
</html>