@using MidCapERP.Admin
@using MidCapERP.Dto;
@using MidCapERP.Admin.Models
@inject CurrentUser _currentUser;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MidCapERP.Admin</title>
    <!-- Start CSS -->
    <link rel="stylesheet" asp-href-include="~/css/style.css"  />
    <!-- End CSS -->
</head>
<body class="login-body-page--wrapper">
    <div class="login-main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cards">
                        <div class="row main-cards">
                            <div class="col-lg-6 form-card">
                                <img src="https://themesbrand.com/velzon/html/default/assets/images/auth-one-bg.jpg" class="img-fluid">
                                <div class="login-first-overlary"></div>
                                <div class="login-logo-main">
                                    <a href="/" class="login-logo">
                                        <i class="bx bx-shape-square nav_logo-icon"></i>
                                        <span class="nav_logo-name">MidCap-ERP</span>
                                    </a>
                                </div>
                            </div>
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer -->
    <footer class="footer-page--wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-start">
                    Designed &amp; Developed by <a href="https://www.magnusminds.net">MagnusMinds IT Solution</a> &copy; 2022
                </div>
                <div class="col-md-6 text-end">
                    MidCapERP.Admin.1.0.0.1
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- Start JS -->
    <script asp-src-include="~/lib/jquery/dist/jquery.min.js"></script>
    <script asp-src-include="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- End JS -->
    <!-- Start Custom JS -->
    <script asp-src-include="~/js/custom.js" ></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
    <!-- End Custom JS -->
</body>
</html>