<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MidCapERP.Admin</title>
    <!-- Start CSS -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <!-- End CSS -->
</head>
<body id="body-pd">
    <partial name="_LayoutSideMenu" />
    <!-- Start Container Main -->
    <div class="c-main-content--wrapper">
        @RenderBody()
    </div>
    <!-- Start Container Main -->
    <!-- Start Footer -->
    <footer class="footer-page--wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-start">
                    Designed &amp; Developed by <a href="https://www.magnusminds.net">MagnusMinds IT Solution</a> &copy; 2022
                </div>
                <div class="col-md-6 text-end">
                    MidCapERP.Admin.1.0.0.1
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- Start JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- End JS -->
    <!-- Start Custom JS -->
    <script src="~/js/custom.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
    <!-- End Custom JS -->
</body>
</html>