@{
    Layout = "_LayoutError";
    ViewData["Title"] = "Order Detail";
}

<div class="bad-request-error--wrapper">
    <div class="bad-request-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="bad-request-error-img">
                        <img src="~/images/access-denied.png" class="img-fluid" />
                    </div>
                    <div class="bad-request-error-box">
                        <h1 class="bad-request-title">You don't have permission to access</h1>
                        <p class="bad-request-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <a class="bad-request-back-btn btn btn-primary">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>