@model MidCapERP.Dto.Status.StatusRequestDto

@{
	string action = "";
	if(Model != null && Model.StatusId != 0)
	{
		action = "Update";
	}
	else
	{
		action = "Create";
	}
}

<!-- Modal -->
<div class="modal right fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<i class='bx bx-x'></i>
				</button>
			</div>

			<form asp-action="@action" class="modal-form--wrapper">
				<div class="modal-body">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input asp-for="StatusId" hidden class="form-control" />
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label asp-for="StatusTitle" class="form-label"></label>
								<input asp-for="StatusTitle" class="form-control" />
								<span asp-validation-for="StatusTitle" class="text-danger"></span>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label asp-for="StatusDescription" class="form-label"></label>
								<input asp-for="StatusDescription" class="form-control" />
								<span asp-validation-for="StatusDescription" class="text-danger"></span>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label asp-for="StatusOrder" class="form-label"></label>
								<input asp-for="StatusOrder" class="form-control" />
								<span asp-validation-for="StatusOrder" class="text-danger"></span>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group form-check">
								<label class="form-check-label">
									<input class="form-check-input" asp-for="IsCompleted" /> @Html.DisplayNameFor(model => model.IsCompleted)
								</label>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label asp-for="TenantId" class="form-label"></label>
								<input asp-for="TenantId" class="form-control" />
								<span asp-validation-for="TenantId" class="text-danger"></span>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group form-check">
								<label class="form-check-label">
									<input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
								</label>
							</div>
						</div>
					</div>					
				</div>
				<div class="modal-footer justify-content-between">
					<input type="submit" value="Save" class="btn btn-primary" />
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

@{
    await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
}