@model MidCapERP.Dto.RawMaterial.RawMaterialRequestDto
@{
    string action = (Model != null && Model.RawMaterialId!= 0) ? "Update" : "Create";
}

<!-- Modal -->
<div class="modal right fade" id="divRawMaterialModal" tabindex="-1" aria-labelledby="rawMaterialModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rawMaterialModalLabel">Raw Material</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class='bx bx-x'></i>
                </button>
            </div>
            <form asp-action="@action" method="post" class="modal-form--wrapper" enctype="multipart/form-data"
                  data-ajax="true" data-ajax-method="post"
                  data-ajax-complete="RawMaterialModel.onSuccess"
                  data-ajax-failure="RawMaterialModel.onFailed">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="RawMaterialId" hidden class="form-control" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Title" class="form-label"></label><span class="text-danger">*</span>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="UnitId" class="form-label"></label><span class="text-danger">*</span>
                                <select asp-for="UnitId" data-val="true" class="drpSelect2 form-control form-select"
                                        asp-items="@(new SelectList((List<SelectListItem>)ViewBag.UnitSelectItemList, "Value", "Text"))">
                                    <option value="" hidden disabled selected>Select Unit</option>
                                </select>
                                <span asp-validation-for="UnitId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="UnitPrice" class="form-label"></label><span class="text-danger">*</span>
                                <input asp-for="UnitPrice" class="form-control" min="0" />
                                <span asp-validation-for="UnitPrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="UploadImage" class="form-label"></label>
                                <input asp-for="UploadImage" class="form-control" type="file" accept="image/png, image/jpeg, image/jpg" />
                                @if (action == "Update")
                                {
                                    <input type="hidden" asp-for="ImagePath" value="@Model.ImagePath" />
                                    @if(Model.ImagePath != null){
                                    <div>
                                        <img src="@Model.ImagePath" width="150" height="150">
                                    </div>
                                    }
                                }
                                <span asp-validation-for="UploadImage" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
}
<script>
    InitSelect2($("#divRawMaterialModal"));
</script>