@model MidCapERP.Dto.RawMaterial.RawMaterialRequestDto

@{
    string action = (Model != null && Model.RawMaterialId!= 0) ? "Update" : "Create";
}

<!-- Modal -->
<div class="modal right fade" id="divRawMaterialModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">RawMaterial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class='bx bx-x'></i>
                </button>f
            </div>
            <form asp-action="@action" method="post" class="modal-form--wrapper"
                data-ajax="true" data-ajax-method="post" 
                data-ajax-complete="RawMaterialModel.onSuccess" 
                data-ajax-failure="RawMaterialModel.onFailed">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="RawMaterialId" hidden class="form-control" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Title" class="form-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
}