@model IEnumerable<MidCapERP.Dto.RawMaterial.RawMaterialResponseDto>
@{
    ViewData["Title"] = "Raw Materials";
}

<div class="c-card--wrapper">
    <div class="c-card--header">
        <h4 class="c-card--header-title">Raw Materials</h4>
        <div class="c-card--header-action">
            <a class="c-card--header-action-btn btn btn-outline-primary" id="lnkRawMaterialFilter"><i class='bx bx-plus me-1'></i>Filters</a>
            <a asp-controller="RawMaterial" asp-action="Create"
               class="btn btn-primary" data-ajax="true" data-ajax-mode="replace"
               data-ajax-complete="RawMaterialModel.onComplete" data-ajax-update="#divUpdateRawMaterial">Create New</a>
        </div>
    </div>
    <div class="c-card--body">
        <div class="card filter-form--wrapper" id="FilterCard">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">Title</label>
                        <input id="title" type="text" class="form-control" placeholder="Title" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">Unit Name</label>
                        <input id="unitName" type="text" class="form-control" placeholder="Unit Name" />
                    </div>
                </div>
            </div>
        </div>
        <partial name="_RawMaterialTable" model="@Model" />
        <div id="divUpdateRawMaterial"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");
        <script asp-src-include="~/js/RawMaterial.js" ></script>
    }
}