@model MidCapERP.Dto.WrkImportFiles.WrkImportFilesRequestDto
@{
    ViewData["Title"] = "Customers";
    Layout = "_Layout";
}

<form asp-action="Index" asp-controller="Import" enctype="multipart/form-data" method="post" id="importFileform">
    <div class="row">
        <div class="form-group col-md-2">
            <label>Upload proper .csv file.</label><span class="text-danger"> *</span>
            <input accept=".csv" asp-for="@Model.formFile" type="file" class="form-control" />
            <span asp-validation-for="@Model.formFile" class="text-danger"></span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary mt-4">Upload</button>
        </div>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");
    }
    } 