// Transition
@mixin transition($target:all,$time:0.5s,$type:ease) {
    transition: $target $time $type;
}

// Flexbox
@mixin flexbox($hAlign:center,$vAlign:center){
    display: flex;
    justify-content: $hAlign;
    align-items: $vAlign;
}