@model MidCapERP.Dto.Product.ProductRequestDto

<form asp-action="CreateProductDetail" asp-controller="Product"
      method="post"
      data-ajax="true" data-ajax-method="post"
      data-ajax-complete="ProductModel.onSuccess"
      data-ajax-failure="ProductModel.onFailed"
      data-ajax-update="#divProductDetailPartial" data-ajax-mode="replace"
      enctype="multipart/form-data" class="modal-form--wrapper formAction" id="frmProductDetail">
    <div class="c-card--wrapper c-card-sm--wrapper mb-3">
        <div class="c-card--header">
            <h4 class="c-card--header-title">Product Detail</h4>
        </div>
        <div class="c-card--body">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <input type="hidden" asp-for="ProductId" />
                        <input type="hidden" asp-for="ProductQuantityId" class="qtyId" />
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="FabricNeeded" class="form-label"></label>
                                <input asp-for="FabricNeeded" type="number" class="form-control fabric" placeholder="Fabric in meter" min="0" max="999">
                                <span asp-validation-for="FabricNeeded" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="TotalDaysToPrepare" class="form-label"></label>
                                <input asp-for="TotalDaysToPrepare" type="number" class="form-control" placeholder="Total days to prepare" min="0" max="999">
                                <span asp-validation-for="TotalDaysToPrepare" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="custom-control custom-switch">
                                <label asp-for="IsVisibleToWholesalers" class="form-label"></label>
                                <input asp-for="IsVisibleToWholesalers" type="checkbox" class="custom-control-input" id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">Active</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="ProductQuantity" class="form-label"></label>
                                <input asp-for="ProductQuantity" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <a class="btn btn-icon btn-outline-primary has-spinner updateQuantity" style="margin-top: 22px;"><i class="bx bxs-save"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="product-info--item">
                                <div class="form-group">
                                    <label asp-for="Features" class="form-label"></label>
                                    <textarea asp-for="Features" class="form-control" placeholder="Features"></textarea>
                                    <span asp-validation-for="Features" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="product-info--item">
                                <div class="form-group">
                                    <label asp-for="Comments" class="form-label"></label>
                                    <textarea asp-for="Comments" class="form-control" placeholder="Comments"></textarea>
                                    <span asp-validation-for="Comments" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="product-info--item">
                        <div class="form-group">
                            <label asp-for="QRImage" class="form-label"></label>
                            <div class="product--image">
                                <img src="@Model.QRImage" alt="Product Image" width="250" height="250" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row c-card-footer--btn">
        <div class="col-12">
            <div class="c-card--wrapper c-card-sm--wrapper">
                <div class="c-card--footer">
                    <a class="btn btn-danger" asp-action="Index" asp-controller="Product">
                        Cancel
                    </a>
                    <button type="submit" value="Save" class="btn btn-primary ms-2 has-spinner productDetailsSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

@{
    await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
}