@model IEnumerable<MidCapERP.Dto.ActivityLogs.ActivityLogsResponseDto>

<table class="table c-table c-table-stripted w-100" id="tblActivitylog">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Description)</th>
			<th>@Html.DisplayNameFor(model => model.Action)</th>
			<th>@Html.DisplayNameFor(model => model.CreatedByName)</th>
			<th>@Html.DisplayNameFor(model => model.CreatedDateFormat)</th>
		</tr>
	</thead>
</table>
<script asp-src-include="~/js/ProductActivity.js"></script>