@model IEnumerable<MidCapERP.Dto.Product.ProductResponseDto>

@{
    ViewData["Title"] = "Products";
}

<div class="c-card--wrapper">
    <div class="c-card--header">
        <h4 class="c-card--header-title">Products</h4>
        <div class="c-card--header-action">
            <a class="c-card--header-action-btn btn btn-outline-primary" id="multiSelectProduct">Print</a>
            <a class="c-card--header-action-btn btn btn-outline-primary" id="lnkProductFilter"><i class='bx bx-plus me-1'></i>Filters</a>
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
    </div>
    <div class="c-card--body">
        <div class="card filter-form--wrapper" id="FilterCard">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">Category Name</label>
                        <select id="categoryName" data-val="true" class="drpSelect2 form-control form-select"
                                asp-items="@(new SelectList((List<SelectListItem>)ViewBag.CategorySelectedList, "Value", "Text"))">
                            <option>Select Category</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">Product Title</label>
                        <input id="productTitle" type="text" class="form-control" placeholder="Product Title" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label">Model No</label>
                        <input id="modelNo" type="text" class="form-control" placeholder="Model No" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="publishStatus" class="form-label">Status</label>
                        <select id="publishStatus" data-val="true" class="drpSelect2 form-control form-select">
                            <option>Select Status</option>
                            <option value="1">Publish</option>
                            <option value="0">UnPublish</option>
                        </select>
                    </div>
                </div>
                 <div class="col-md-3" style="border:0px;">
                    <button type="button" class="btn btn-primary" id="btnReset">Reset</button>
                </div>
            </div>
        </div>
        <partial name="_ProductTable" />
        <div id="divUpdateProduct"></div>
        <div id="sendSMSModal" class="modal fade" tabindex="-1">
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");

    <script asp-src-include="~/js/ProductTable.js"></script>
    }
    }