@model MidCapERP.Dto.Product.ProductMainRequestDto
@{
    ViewData["Title"] = (Model != null && Model.ProductId != 0) ? "Update Product" : "Add Product";
    var i = 0;

    var productId = (Model == null) ? 0 : Model.ProductId;
}

@Html.Hidden("hdnProductId", productId)
<div id="content">
    <div id="divProductInfo"></div>

    @if (productId > 0)
    {
        <nav class="product-nav-tab--sticky">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-detail-tab" data-bs-toggle="tab" data-bs-target="#nav-detail" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Details</button>
                <button class="nav-link" id="nav-images-tab" data-bs-toggle="tab" data-bs-target="#nav-images" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Images</button>
                <button class="nav-link" id="nav-rowmaterial-tab" data-bs-toggle="tab" data-bs-target="#nav-rowmaterial" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Cost Analyzer</button>
                <button class="nav-link disabled" id="nav-rowmaterial-tab" data-bs-toggle="tab" data-bs-target="#nav-rowmaterial" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Workflow</button>
                <button class="nav-link" id="nav-productActivity-tab" data-bs-toggle="tab" data-bs-target="#nav-productActivity" type="button" role="tab" aria-controls="nav-productActivity" aria-selected="false">Activity</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
             <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
                <div id="divProductDetailPartial"></div>
            </div>
            <div class="tab-pane fade show" id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab">
                <div id="divProductImagePartial"></div>
            </div>
            <div class="tab-pane fade" id="nav-rowmaterial" role="tabpanel" aria-labelledby="nav-rowmaterial-tab">
                <div id="divProductMaterialPartial"></div>
            </div>
            <div id="divProductWorkflowPartial"></div>
            <div class="tab-pane fade" id="nav-productActivity" role="tabpanel" aria-labelledby="nav-productActivity-tab">
                <div id="divProductActivityPartial"></div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");
        <script asp-src-include="~/js/Product.js"></script>  
    }
}