@model IEnumerable<MidCapERP.DataEntities.Models.ApplicationUser>

<table class="table c-table" id="tblUser">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>User Name</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
    </thead>
</table>